:root {
    --color1: #0b0c0d;
    --color2: #0061C9;
    --color3: #F8F9FA;
    --color4: #07090a;
}

.text-404 img {
    width: 210px;
    margin-bottom: 30px;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.web-name {
    font-size: 2rem;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
        color: var(--color2);
    }

    40% {
        color: var(--color2);
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}



* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

*:focus {
    outline: none;
}

body {
    background-color: var(--color1);
    font-size: 1rem;
}

.scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    width: 6px;
    height: 6px;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--color2);
}

.fa-times {
    color: var(--color2);
}

/* ! 404 */

.min-404 {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.night {
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotateZ(45deg);
}

.shooting_star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2px;
    background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting_star::before {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
}

.shooting_star::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
}

.shooting_star:nth-child(1) {
    top: calc(50% - -5px);
    left: calc(50% - 221px);
    animation-delay: 6102ms;
}

.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
    animation-delay: 6102ms;
}

.shooting_star:nth-child(2) {
    top: calc(50% - -188px);
    left: calc(50% - 29px);
    animation-delay: 8401ms;
}

.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
    animation-delay: 8401ms;
}

.shooting_star:nth-child(3) {
    top: calc(50% - 194px);
    left: calc(50% - 8px);
    animation-delay: 3266ms;
}

.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
    animation-delay: 3266ms;
}

.shooting_star:nth-child(4) {
    top: calc(50% - -73px);
    left: calc(50% - 154px);
    animation-delay: 2561ms;
}

.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
    animation-delay: 2561ms;
}

.shooting_star:nth-child(5) {
    top: calc(50% - 184px);
    left: calc(50% - 94px);
    animation-delay: 4628ms;
}

.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
    animation-delay: 4628ms;
}

.shooting_star:nth-child(6) {
    top: calc(50% - -125px);
    left: calc(50% - 229px);
    animation-delay: 5866ms;
}

.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
    animation-delay: 5866ms;
}

.shooting_star:nth-child(7) {
    top: calc(50% - 194px);
    left: calc(50% - 247px);
    animation-delay: 4154ms;
}

.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
    animation-delay: 4154ms;
}

.shooting_star:nth-child(8) {
    top: calc(50% - -56px);
    left: calc(50% - 289px);
    animation-delay: 3141ms;
}

.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
    animation-delay: 3141ms;
}

.shooting_star:nth-child(9) {
    top: calc(50% - -138px);
    left: calc(50% - 106px);
    animation-delay: 1641ms;
}

.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
    animation-delay: 1641ms;
}

.shooting_star:nth-child(10) {
    top: calc(50% - 25px);
    left: calc(50% - 300px);
    animation-delay: 5474ms;
}

.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
    animation-delay: 5474ms;
}

.shooting_star:nth-child(11) {
    top: calc(50% - 96px);
    left: calc(50% - 115px);
    animation-delay: 5293ms;
}

.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
    animation-delay: 5293ms;
}

.shooting_star:nth-child(12) {
    top: calc(50% - -32px);
    left: calc(50% - 170px);
    animation-delay: 3694ms;
}

.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
    animation-delay: 3694ms;
}

.shooting_star:nth-child(13) {
    top: calc(50% - 75px);
    left: calc(50% - 13px);
    animation-delay: 5932ms;
}

.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
    animation-delay: 5932ms;
}

.shooting_star:nth-child(14) {
    top: calc(50% - -135px);
    left: calc(50% - 27px);
    animation-delay: 931ms;
}

.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
    animation-delay: 931ms;
}

.shooting_star:nth-child(15) {
    top: calc(50% - -190px);
    left: calc(50% - 35px);
    animation-delay: 1712ms;
}

.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
    animation-delay: 1712ms;
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

@keyframes shooting {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
    }
}

@keyframes sky {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

.text-404 {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-404 h1 {
    font-size: 3rem;
    text-align: center;
}

.text-404 h1 span {
    padding: 0 10px;
}

/* ! 404 */